.catalog__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  text-align: center;
}
.catalog {
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgba(139, 250, 139, 0.33);
}
@media screen and (min-width: 768px) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.catalog__item {
  max-width: 450px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 354px;
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 1200px) {
    max-width: 370px;
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 3);
  }
}
.catalog__block2 {
  padding: 20px 24px;
}
.catalog__subtitle {
  font-weight: 700;
  //   font-size: 18px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $TextColor;
}
.catalog__chekbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  text-align: center;
  appearance: none;
}
.catalog__text {
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $mainColor;
}
.catalog__color {
  color: $TextColor;
}
.catalog__text-cheked {
  display: none;
}
.catalog__chekbox:checked + .catalog__text-cheked {
  display: block;
}
.catalog__chekbox:checked ~ .catalog__label .catalog__btn {
  display: none;
}
.catalog__btn2 {
  display: none;
}
.catalog__chekbox:checked ~ .catalog__label .catalog__btn2 {
  display: block;
}
.catalog__btn {
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $TextColor;
  text-decoration: underline;
  cursor: pointer;
}
.catalog__btn2 {
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $TextColor;
  text-decoration: underline;
  cursor: pointer;
}
.catalog__old {
  text-decoration: line-through;
}
