.hero {
  max-width: 1600px;
  background-image: url(../../images/fon.1x0ojCa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: #0a112d;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-resolution: 2dppx) {
    background-image: url(../../images/fon2x.239OQ.jpg);
  }
}
.hero__title {
  max-width: 696px;
  font-weight: 700;
  font-family: Raleway;
  font-size: 49px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $TextColor;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}
.hero__text {
  color: green;
  text-decoration: underline;
}
.hero__text2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: $colorIcon;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $colorIcon;
  max-width: 450px;
  padding: 10px;
  border-radius: 22px;
  background: green;
  margin-bottom: 20px;
}
.hero__list {
  display: flex;
  justify-content: center;
}
.hero__item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}
.hero__icon {
  width: 45px;
  height: 45px;
  display: flex;
  margin-left: 12px;
  margin-bottom: 5px;
}
.hero__link {
  color: $colorIcon;
}
