$colorIcon: #afb1b8;
$mainColor: #757575;
$focusColor: #2196f3;
$TextColor: #212121;
$backgroundWhitecolor: #ffffff;
$ColorSection: #f5f4fa;
$footerandheroColor: #2f303a;
$hoverColor: #188ce8;
$borderColor: #ececec;
$secondbordercolor: #eeeeee;
